@media (max-width:46.1875em)
{
    .container
    {
        flex-direction: column;
    width: 375px;
    height: 638px;
    background: rgb(242, 235, 228);
    padding-top: 13px;
    }
  
    .description-photo
    {
        width: 300px;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        
       
    }
   
    .description-photo img{
        height: 245px;
        width: 379px;
        margin-top: 8px;
        border-radius: 10px 10px 0 0;
        
    }

   .description
    {
        margin-bottom: 1rem;
        border-radius: 0 0 10px 10px;
        gap: 1rem;
        
    }
    .description h2
    {
        font-size: 34px;
    }

    .description .text
    {
        font-size: 15px;
        line-height: 1.5;
    }


}